<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>oauth tutorial</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/auth/logout">logout</a></li>
        <li><a href="/auth/login">login</a></li>
        <li><a href="/">homepage</a></li>
      </ul>
    </nav>
    <header>
      <h1>oauth tutorial</h1>
      <h2>homepage</h2>
    </header>
    <main>
      <p>probably best one</p>
    </main>
  </body>
</html>
